<div class="bid-main play-main" ng-show="selected.card">
	<div class="bid-head play-head">Play
		<span style="font-size: .35em; margin-left: 1em;" class="card rank-{{selected.card | lowercase}} {{selected.suit}}">
			<span class="rank">{{selected.card}}</span>
			<span class="suit">{{selected.emoji}}</span>
		</span>
	</div>
	<form class="bid-form">
		<div class="bid-buttons">
			<div class="cards-button button-cancel">Cancel</div>
			<div class="cards-button" ng-click="playCard(selected.card)">Confirm</div>
		</div>
	</form>
</div>