<div class="bid-main" ng-show="(players.length < numPlayers)" style="padding: .2em;">
	<div class="cards-deck">
		<div>Game Code is <span id="gameCode">{{gameCode}}</span></div>
		<div class="cards-button" style="background-color: mediumpurple;" 
			ngclipboard data-clipboard-text='{{gameCodeURL}}'>Copy URL to send Players</div>
		<div class="cards-button" ng-click="showLeave=true">Leave Game</div>
	</div>
</div>

<!-- Ability to Leave the Game -->
<div class="destroy-element destroy-element-main leave-element" ng-show="showLeave">
	Are you sure you want to leave this game? If you are the leader, the game will be destroyed.
	<div class="bid-buttons">
		<div class="cards-button button-cancel" ng-click="showLeave=false">Cancel</div>
		<div class="cards-button" ng-click="leaveGame(false)">Confirm</div>
	</div>
</div>