<html><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
		<title>My Cards Game</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script type="text/javascript" src="js/cards.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/cardsTemplate.css">
		<link rel="stylesheet" type="text/css" href="/css/cards.css">
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body class="cards-body ng-scope" ng-app="Cards">
		<!-- uiView: --><div ui-view="" class="ng-scope"><div class="cards-header ng-scope">Sachin's Pandemic Card Game</div>
<div class="cards-main playingCards faceImages ng-scope ng-hide" ng-show="(players.length == 4)">
	<div class="table-style">Your Cards <span class="ng-binding">(Strong Suit: )</span>)</div>
	<div class="cards-deck">
		<div class="cards-suit ">
			<!-- ngRepeat: card in cards.spades -->
		</div>
		<div class="cards-suit cards-red ">
			<!-- ngRepeat: card in cards.hearts -->
		</div>
		<div class="cards-suit ">
			<!-- ngRepeat: card in cards.clubs -->
		</div>
		<div class="cards-suit cards-red ">
			<!-- ngRepeat: card in cards.diamonds -->
		</div>
	</div>
	<div class="cards-table">
		<div class="table-player">
			<div class="player player-top ">
				<div class="player-info">
					<div class="player-name ng-binding"></div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value ng-binding" ng-hide="(players[(me+2)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value ng-binding" ng-hide="(players[(me+2)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value ng-binding"></div>
					</div>
				</div>
				<div ng-show="players[(me+2)%4].card.rank" class="player-card ng-hide">
					<div class="card rank- ">
						<span class="rank ng-binding"></span>
						<span class="suit ng-binding"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="table-player player-middle">
			<div class="player player-left ">
				<div class="player-info">
					<div class="player-name ng-binding"></div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value ng-binding" ng-hide="(players[(me+1)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value ng-binding" ng-hide="(players[(me+1)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value ng-binding"></div>
					</div>
				</div>
				<div ng-show="players[(me+1)%4].card.rank" class="player-card ng-hide">
					<div class="card rank- ">
						<span class="rank ng-binding"></span>
						<span class="suit ng-binding"></span>
					</div>
				</div>
			</div>
			<div class="player player-right ">
				<div class="player-info">
					<div class="player-name ng-binding"></div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value ng-binding" ng-hide="(players[(me+3)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value ng-binding" ng-hide="(players[(me+3)%4].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value ng-binding"></div>
					</div>
				</div>
				<div ng-show="players[(me+3)%4].card.rank" class="player-card ng-hide">
					<div class="card rank- ">
						<span class="rank ng-binding"></span>
						<span class="suit ng-binding"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="table-player">
			<div class="player player-bottom ">
				<div class="player-info">
					<div class="player-name ng-binding"> (You)</div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value ng-binding" ng-hide="(players[me].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value ng-binding" ng-hide="(players[me].bid == -1)"></div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value ng-binding"></div>
					</div>
				</div>
				<div ng-show="players[me].card.rank" class="player-card ng-hide">
					<div class="card rank- ">
						<span class="rank ng-binding"></span>
						<span class="suit ng-binding"></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cards-inner-body">
		<!-- uiView: --><div ui-view="" class="cards-ui-view ng-scope"><div class="bid-main ng-scope">
	<div class="bid-head">How many hands will you make?</div>
	<div class="bid-container">
		<form class="bid-form ng-pristine ng-valid">
			<div ng-hide="confirm" class="ng-binding">
				0<input type="range" min="0" max="13" class="bid-slider ng-pristine ng-untouched ng-valid ng-empty" ng-model="bid">13
			</div>
			<div class="bid-buttons">
				<div class="cards-button button-cancel ng-hide" ng-click="cancel()" ng-show="confirm">Cancel </div>
				<div class="cards-button ng-binding" ng-click="selectBid(bid)" ng-hide="confirm">Bid  </div>
				<div class="cards-button button-confirm ng-binding ng-hide" ng-click="makeBid()" ng-show="confirm">Confirm </div>
			</div>
		</form>
	</div>
</div></div>
	</div>
</div>
<div class="cards-status ng-binding ng-scope" ng-show="status.length">1 players have joined. Waiting for full room.</div></div>
	

</body></html>